<%- include('partials/header', {documentTitle:'Free, Open Source Shopping and Inventory Lister'}) %>

<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links"
                aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" title="Free, Open Source Shopping & Inventory Lister"><i class="fas fa-bone"></i>
                F.O.S.S.I.L.</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-links">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item"><a href="/inventory/list" class="nav-item nav-link"><i class="fas fa-list"></i>
                        List</a></li>
                <li class="nav-item"><a href="/inventory/add" class="nav-item nav-link"><i class="fas fa-plus"></i> Add</a></li>
                <li class="nav-item"><a href="/inventory/remove" class="nav-item nav-link"><i class="fas fa-times"></i>
                        Remove</a></li>
                <li class="nav-item"><a href="/inventory/edit" class="nav-item nav-link"><i class="fas fa-edit"></i>
                        Edit</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="form-group js-add-barcode">
        <label for="js-add-barcode-inp">Adding item by barcode...</label>
        <input type="text" class="form-control add-page-input js-add-barcode-inp" placeholder="Enter barcode">
        <button type="submit" class="btn btn-primary js-add-barcode-btn">Add Item</button>
    </div>
    
    <div class="form-group js-add-item">
        <div>
            <label>Item not found...</label>
        </div>
        <label class="input-label">Brand *</label>
        <input type="text" class="form-control add-page-input js-add-item-brand">
        <label class="input-label">Name *</label>
        <input type="text" class="form-control add-page-input js-add-item-name">
        <label class="input-label">Size *</label>
        <input type="text" class="form-control add-page-input js-add-item-size">
        <label class="input-label">Barcode *</label>
        <input type="text" class="form-control add-page-input js-add-item-barcode">
        <label class="input-label">Count *</label>
        <input type="number" class="form-control add-page-input js-add-item-count">
        <label class="input-label">Type</label>
        <input type="text" class="form-control add-page-input js-add-item-type">
        <label class="input-label">Note</label>
        <input type="text" class="form-control add-page-input js-add-item-note">
        <button type="submit" class="btn btn-primary js-add-item-btn">Add Item</button>
    </div>
</div>

<script>
    $(function() {
        $('body').addClass('load');
    });
    init.addPage();
</script>
<%- include('partials/footer') %>