<%- include('partials/header', {documentTitle:'Free, Open Source Shopping and Inventory Lister'}) %>

<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links"
                aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" title="Free, Open Source Shopping & Inventory Lister"><i class="fas fa-bone"></i>
                F.O.S.S.I.L.</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-links">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item"><a href="/inventory/list" class="nav-item nav-link"><i class="fas fa-list"></i>
                        List</a></li>
                <li class="nav-item"><a href="/inventory/add" class="nav-item nav-link"><i class="fas fa-plus"></i> Add</a></li>
                <li class="nav-item"><a href="/inventory/remove" class="nav-item nav-link"><i class="fas fa-times"></i>
                        Remove</a></li>
                <li class="nav-item"><a href="/inventory/edit" class="nav-item nav-link"><i class="fas fa-edit"></i>
                        Edit</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- item detail popup -->
<div class="modal fade" id="detail-popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Item <span id="modal-barcode">123412341234</span> Details</h2>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- item search bar -->
<div class="input-group input-group-sm" id="search">
    <span class="input-group-addon"><i class="fas fa-search"></i></span>
    <input id="searchInp" type="text" class="form-control" placeholder="Search item information...">
</div>

<!-- inventory list table -->
<div class="table-responsive">
    <table class="table" id="inventory-table">
        <thead class="table-header">
            <tr class="row-header">
                <!--<th scope="col" class="col-sm-2 col-xl-1 visible-* row-header col-count">On Hand <i class="fas fa-sort"></i></th>-->
                <!--<th scope="col" class="col-md-3 col-xl-1 visible-* row-header col-brand">Brand <i class="fas fa-sort"></i></th>-->
                <!--<th scope="col" class="col-md-8 col-xl-3 visible-* row-header col-name">Name <i class="fas fa-sort"></i></th>-->
                <!--<th scope="col" class="col-xl-1 hidden-xs hidden-sm col-1 row-header col-size">Size <i class="fas fa-sort"></i></th>-->
                <!--<th scope="col" class="col-xl-2 hidden-xs hidden-sm col-3 row-header col-note">Notes <i class="fas fa-sort"></i></th>-->
                <!--<th scope="col" class="col-xl-2 hidden-xs hidden-sm col-1 row-header col-type">Type <i class="fas fa-sort"></i></th>-->
                <!--<th scope="col" class="col-xl-2 hidden-xs hidden-sm col-2 row-header col-barcode">Barcode <i class="fas fa-sort"></i></th>-->
                <th class="row-header col-count col-md-1 col-sm-2 col-xs-1">On Hand <i class="fas fa-sort"></i></th>
                <th class="row-header col-brand col-md-1 col-sm-3 col-xs-3">Brand <i class="fas fa-sort"></i></th>
                <th class="row-header col-name col-md-3 col-sm-7 col-xs-8">Name <i class="fas fa-sort"></i></th>
                <th class="row-header col-size col-md-1 hidden-sm hidden-xs">Size <i class="fas fa-sort"></i></th>
                <th class="row-header col-type col-md-1 hidden-sm hidden-xs">Type <i class="fas fa-sort"></i></th>
                <th class="row-header col-barcode col-md-1 hidden-sm hidden-xs">Barcode <i class="fas fa-sort"></i></th>
                <th class="row-header col-note col-md-4 hidden-sm hidden-xs">Notes <i class="fas fa-sort"></i></th>
                
            </tr>
        </thead>
        <tbody id='inventory-tbody'>
            <tr class="item-row">
                <td id="inventory-loading" colspan="7">LOADING...</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(function() {
        $('body').addClass('load');
    });
    init.listPage();</script>
<%- include('partials/footer') %>